html {
  scroll-behavior: smooth;
}

* {
  margin-top: 0;
}

body {
  margin: 0;
  position: relative;
  background-color: #455a66;
}

#content {
  max-width: 510px;
  margin: auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 20px;
}

.img-header {
  position: relative;
  width: 100%;
  text-align: center;
}

.bg-image {
  margin: auto;
  width: 100%;
  max-width: 300px;
}

.details a {
  margin-top: 8px;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#btn-group {
  display: flex;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow-x: auto;
  margin-bottom: 30px;
  padding: 10px 0;
}

#btn-group button {
  height: 60px;
  width: 110px;
  min-width: 110px;
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.332);
  color: black !important;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
}

section {
  max-width: 500px;
  padding: 10px;
  border: 1px solid #a7a7a7;
  margin: 30px 0;
  background: #d1d5d8a1;
  box-shadow: 0 0 20px 0;
}

.section-header {
  margin: 20px auto 0 auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 10px;
  max-width: 340px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-header img {
  width: 100%;
  height: 100%;
  max-width: 85%;
  max-height: 85%;
  border-radius: 20%;
  margin: auto;
}

.section-header p {
  text-align: center;
  border: 1px solid #a7a7a7;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  width: 85%;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #a7a7a7;
  box-shadow: 1px 2px 2px 2px #00000021;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  color: black;
  margin-bottom: 25px;
  min-height: 30px;
}

article .item:last-of-type {
  margin-bottom: 5px;
}

.item-details {
  display: grid;
  grid-template-columns: 1fr 40px;
}

.item-name {
  font-size: 18px;
  background-color: #ffffff8a;
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: bold;
  width: fit-content;
  margin-top: -23px;
}

.price {
  text-align: end;
}

.description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0;
}

#progress-bar {
  width: 100%;
  height: 4px;
}

#progress {
  height: 100%;
  background-color: #001fe7;
  width: 0%;
  transition: width 0.5s ease;
}

#wp-btn,
#up-btn {
  position: fixed;
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  z-index: 5;
  display: none;
  cursor: pointer;
}
#wp-btn {
  left: 30px;
  border-radius: 50%;
  scale: 1.1;
  background-color: #2db82d;
}
#wp-btn svg {
  scale: 1.25;
  color: white !important;
  margin-top: 4px;
}

#up-btn {
  right: 30px;
  background-color: #efefef;
}

#up-btn svg {
  margin-top: 4px;
}

@media screen and (min-width: 550px) {
  #wp-btn {
    left: calc(50vw - 250px);
  }
  #up-btn {
    right: calc(50vw - 250px);
  }
}

#up-btn a:link,
#up-btn a:visited,
#up-btn a:hover,
#up-btn a:active,
#up-btn a:focus {
  color: black !important;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: white !important;
}
